<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <title>Chat</title>

</head>

<body>
    <h1 id="headLine">planBLICK Chat</h1>
    <form action="" id="userName">
        <input type="text" id="name" placeholder="Enter your name">
        <input type="submit" id="send" value="Save name">
    </form>
    <section id="chat">
        <div id="allMessages"></div>
        <form action="" id="messagesForm">
            <input type="text" id="message" autocomplete="off" placeholder="Enter your message">
            <input type="submit" id="sendMessage" value="Send message">
        </form>
    </section>
    <script src="/assets/js/chat.js"></script>
</body>

</html>